{% extends "layout.html" %}

{% block title %}Editar Empleado{% endblock %}

{% block content %}

<body class="bg-gray-100">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flex justify-center mt-4">
      <div class="w-full max-w-2xl">
        {% for category, message in messages %}
        <div
          class="{% if category == 'success' %}bg-green-500{% else %}bg-red-500{% endif %} bg-opacity-75 text-white text-center py-4 px-6 mb-4 rounded-lg shadow-lg">
          <p class="text-lg font-semibold">{{ message }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% endwith %}

    <div class="max-w-4xl mx-auto mt-10">
        <h1 class="text-3xl font-bold text-center mb-6">Editar Empleado</h1>
        <form class="bg-white p-6 rounded-lg shadow-lg" action="{{ url_for('equipo.editar_empleado', id=empleado.id) }}"
            method="POST" enctype="multipart/form-data">

            <!-- Nombre -->
            <div class="mb-4">
                <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
                <input type="text" id="nombre" name="nombre"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    value="{{ empleado.nombre }}" pattern="[A-Za-zÀ-ÿ\s]+" title="El nombre solo debe contener letras">
            </div>

            <!-- Apellido -->
            <div class="mb-4">
                <label for="apellido" class="block text-sm font-medium text-gray-700">Apellido</label>
                <input type="text" id="apellido" name="apellido"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    value="{{ empleado.apellido }}" pattern="[A-Za-zÀ-ÿ\s]+"
                    title="El apellido solo debe contener letras">
            </div>

            <!-- DNI -->
            <div class="mb-4">
                <label for="dni" class="block text-sm font-medium text-gray-700">DNI</label>
                <input type="text" id="dni" name="dni"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm grey"
                    value="{{ empleado.dni }}" readonly>
            </div>

            <!-- Domicilio -->
            <div class="mb-4">
                <label for="domicilio" class="block text-sm font-medium text-gray-700">Domicilio</label>
                <input type="text" id="domicilio" name="domicilio"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    value="{{ empleado.domicilio }}">
            </div>

            <!-- Email -->
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                <input type="email" id="email" name="email"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    value="{{ empleado.email }}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    title="Ingrese un correo electrónico válido">
            </div>

            <!-- Localidad -->
            <div class="mb-4">
                <label for="localidad" class="block text-sm font-medium text-gray-700">Localidad</label>
                <input type="text" id="localidad" name="localidad"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    value="{{ empleado.localidad }}">
            </div>

            <!-- Teléfono -->
            <div class="mb-4">
                <label for="telefono" class="block text-sm font-medium text-gray-700">Teléfono</label>
                <input type="text" id="telefono" name="telefono"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    value="{{ empleado.telefono }}" pattern="\d{7,15}"
                    title="El teléfono debe tener entre 7 y 15 dígitos">
            </div>

            <!-- Profesión -->
            <div class="mb-4">
                <label for="profesion" class="block text-sm font-medium text-gray-700">Profesión</label>
                <select id="profesion" name="profesion"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option value="Psicólogo/a" {% if empleado.profesion=='Psicólogo/a' %}selected{% endif %}>
                        Psicólogo/a</option>
                    <option value="Psicomotricista" {% if empleado.profesion=='Psicomotricista' %}selected{% endif %}>
                        Psicomotricista</option>
                    <option value="Médico/a" {% if empleado.profesion=='Médico/a' %}selected{% endif %}>Médico/a
                    </option>
                    <option value="Kinesiólogo/a" {% if empleado.profesion=='Kinesiólogo/a' %}selected{% endif %}>
                        Kinesiólogo/a</option>
                    <option value="Terapista Ocupacional" {% if empleado.profesion=='Terapista Ocupacional' %}selected{%
                        endif %}>Terapista Ocupacional</option>
                    <option value="Psicopedagogo/a" {% if empleado.profesion=='Psicopedagogo/a' %}selected{% endif %}>
                        Psicopedagogo/a</option>
                    <option value="Docente" {% if empleado.profesion=='Docente' %}selected{% endif %}>Docente</option>
                    <option value="Profesor" {% if empleado.profesion=='Profesor' %}selected{% endif %}>Profesor
                    </option>
                    <option value="Fonoaudiólogo/a" {% if empleado.profesion=='Fonoaudiólogo/a' %}selected{% endif %}>
                        Fonoaudiólogo/a</option>
                    <option value="Veterinario/a" {% if empleado.profesion=='Veterinario/a' %}selected{% endif %}>
                        Veterinario/a</option>
                    <option value="Otro" {% if empleado.profesion=='Otro' %}selected{% endif %}>Otro</option>
                </select>
            </div>

            <!-- Puesto Laboral en la Institución -->
            <div class="mb-4">
                <label for="puesto_laboral" class="block text-sm font-medium text-gray-700">Puesto Laboral en la
                    Institución</label>
                <select id="puesto_laboral" name="puesto_laboral"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option value="Administrativo/a" {% if empleado.puesto_laboral=='Administrativo/a' %}selected{%
                        endif %}>Administrativo/a</option>
                    <option value="Terapeuta" {% if empleado.puesto_laboral=='Terapeuta' %}selected{% endif %}>Terapeuta
                    </option>
                    <option value="Conductor" {% if empleado.puesto_laboral=='Conductor' %}selected{% endif %}>Conductor
                    </option>
                    <option value="Auxiliar de pista" {% if empleado.puesto_laboral=='Auxiliar de pista' %}selected{%
                        endif %}>Auxiliar de pista</option>
                    <option value="Herrero" {% if empleado.puesto_laboral=='Herrero' %}selected{% endif %}>Herrero
                    </option>
                    <option value="Veterinario" {% if empleado.puesto_laboral=='Veterinario' %}selected{% endif %}>
                        Veterinario</option>
                    <option value="Entrenador de Caballos" {% if empleado.puesto_laboral=='Entrenador de Caballos'
                        %}selected{% endif %}>Entrenador de Caballos</option>
                    <option value="Domador" {% if empleado.puesto_laboral=='Domador' %}selected{% endif %}>Domador
                    </option>
                    <option value="Profesor de Equitación" {% if empleado.puesto_laboral=='Profesor de Equitación'
                        %}selected{% endif %}>Profesor de Equitación</option>
                    <option value="Docente de Capacitación" {% if empleado.puesto_laboral=='Docente de Capacitación'
                        %}selected{% endif %}>Docente de Capacitación</option>
                    <option value="Auxiliar de mantenimiento" {% if empleado.puesto_laboral=='Auxiliar de mantenimiento'
                        %}selected{% endif %}>Auxiliar de mantenimiento</option>
                    <option value="Otro" {% if empleado.puesto_laboral=='Otro' %}selected{% endif %}>Otro</option>
                </select>
            </div>

            <!-- Fecha de Inicio -->
            <div class="mb-4">
                <label for="fecha_inicio" class="block text-sm font-medium text-gray-700">Fecha de Inicio</label>
                <input type="date" id="fecha_inicio" name="fecha_inicio"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    value="{{ empleado.fecha_inicio.strftime('%Y-%m-%d') }}">
            </div>

            <!-- Fecha de Cese -->
            <div class="mb-4">
                <label for="fecha_cese" class="block text-sm font-medium text-gray-700">Fecha de Cese</label>
                <input type="date" id="fecha_cese" name="fecha_cese"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    value="{{ empleado.fecha_cese.strftime('%Y-%m-%d') }}">
            </div>
            <!-- Contacto de Emergencia -->
            <div class="mb-4">
                <label for="contacto_emergencia" class="block text-sm font-medium text-gray-700">Contacto de
                    Emergencia</label>
                <input type="text" id="contacto_emergencia" name="contacto_emergencia"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    value="{{ empleado.contacto_emergencia }}">
            </div>

            <!-- Obra Social -->
            <div class="mb-4">
                <label for="obra_social" class="block text-sm font-medium text-gray-700">Obra Social</label>
                <input type="text" id="obra_social" name="obra_social"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    value="{{empleado.obra_social}}">
            </div>

            <!-- Número de Afiliado -->
            <div class="mb-4">
                <label for="numero_afiliado" class="block text-sm font-medium text-gray-700">N° de Afiliado</label>
                <input type="text" id="numero_afiliado" name="numero_afiliado"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    value="{{empleado.numero_afiliado}}" pattern="\d+"
                    title="El número de afiliado solo acepta dígitos">
            </div>

            <!-- Condición -->
            <div class="mb-4">
                <label for="condicion" class="block text-sm font-medium text-gray-700">Condición</label>
                <select id="condicion" name="condicion"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    value="{{empleado.condicion}}">
                    <option value="Voluntario" {%if empleado.condicion=="Voluntario" %}selected{%endif%}>Voluntario
                    </option>
                    <option value="Personal Rentado" {%if empleado.condicion=="Personal Rentado" %}selected{%endif%}>
                        Personal Rentado</option>
                </select>
            </div>

            <!-- Activo -->
            <div class="mb-4">
                <label for="activo" class="block text-sm font-medium text-gray-700">Activo</label>
                <select id="activo" name="activo"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    value="{{empleado.activo}}">
                    <option value="Sí">Sí</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="flex justify-between mt-6">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Guardar
                    Cambios</button>
                <a href="{{ url_for('equipo.detalle_empleado', id=empleado.id) }}"
                    class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-400">Cancelar</a>
            </div>
        </form>
    </div>
</body>
<script>
    document.querySelector('form').addEventListener('submit', function (e) {
      const fechaInicio = document.getElementById('fecha_inicio').value;
      const fechaCese = document.getElementById('fecha_cese').value;
  
      if (fechaInicio && fechaCese && fechaInicio > fechaCese) {
        e.preventDefault(); 
        alert("La fecha de inicio no puede ser mayor que la fecha de cese.");
      }
    });
  </script>
  
{% endblock %}