{% extends "layout.html" %}

{% block title %}Equipo{% endblock %}

{% block content %}
<div class="bg-white p-6 rounded-lg shadow-md">
    <h1 class="text-3xl font-bold mb-6 text-gray-700 text-center">Lista de empleados</h1>

    <!-- Contenedor para el botón y filtros -->
    <div class="mb-6 grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Botón de registro -->
        <div class="flex justify-start">
            <a href="{{ url_for('equipo.registrar_empleado') }}"
                class="bg-blue-500 text-white font-semibold px-4 py-2 rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 transition-all duration-200 ease-in-out transform hover:scale-105">
                Registrar Nuevo Empleado
            </a>
        </div>

        <!-- Formulario de búsqueda y filtros -->
        <form method="GET" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-2 w-full">
            <input type="text" name="search" placeholder="Buscar..." value="{{ search }}"
                class="border border-gray-300 rounded px-3 py-2 w-full focus:ring focus:ring-blue-200">

            <select name="filter_by"
                class="border border-gray-300 rounded px-3 py-2 w-full focus:ring focus:ring-blue-200">
                <option value="nombre" {% if filter_by=='nombre' %}selected{% endif %}>Nombre</option>
                <option value="apellido" {% if filter_by=='apellido' %}selected{% endif %}>Apellido</option>
                <option value="dni" {% if filter_by=='dni' %}selected{% endif %}>DNI</option>
                <option value="email" {% if filter_by=='email' %}selected{% endif %}>Email</option>
                <option value="puesto" {% if filter_by=='puesto' %}selected{% endif %}>Puesto laboral</option>
            </select>

            <select id="order_prop" name="order_prop"
                class="border border-gray-300 rounded px-3 py-2 w-full focus:ring focus:ring-blue-200">
                <option value="nombre" {% if order_prop=='nombre' %}selected{% endif %}>Nombre</option>
                <option value="apellido" {% if order_prop=='apellido' %}selected{% endif %}>Apellido</option>
                <option value="inserted_at" {% if order_prop=='inserted_at' %}selected{% endif %}>Fecha de Creación
                </option>
            </select>

            <select name="order" class="border border-gray-300 rounded px-3 py-2 w-full focus:ring focus:ring-blue-200">
                <option value="asc" {% if order=='asc' %}selected{% endif %}>Ascendente</option>
                <option value="desc" {% if order=='desc' %}selected{% endif %}>Descendente</option>
            </select>

            <button type="submit"
                class="bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600 w-full transition-colors duration-200">Buscar</button>
        </form>
    </div>

    <!-- Tabla de resultados -->
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white shadow-md rounded-lg text-center">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-4 py-2 border-b text-left text-gray-600 font-medium text-center">Nombre</th>
                    <th class="px-4 py-2 border-b text-left text-gray-600 font-medium text-center">Apellido</th>
                    <th class="px-4 py-2 border-b text-left text-gray-600 font-medium text-center">DNI</th>
                    <th class="px-4 py-2 border-b text-left text-gray-600 font-medium text-center">Email</th>
                    <th class="px-4 py-2 border-b text-left text-gray-600 font-medium text-center">Profesión</th>
                    <th class="px-4 py-2 border-b text-left text-gray-600 font-medium text-center">Puesto Laboral</th>
                    <th class="px-4 py-2 border-b text-left text-gray-600 font-medium text-center">Activo</th>
                    <th class="px-4 py-2 border-b text-left text-gray-600 font-medium text-center">Fecha de Creación
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for empleado in empleados %}
                <tr class="hover:bg-gray-50">
                    <td class="px-4 py-2 border-b"><a href="{{ url_for('equipo.detalle_empleado', id=empleado.id) }}"
                            class="text-blue-600 hover:underline">{{ empleado.nombre }}</a></td>
                    <td class="px-4 py-2 border-b">{{ empleado.apellido }}</td>
                    <td class="px-4 py-2 border-b">{{ empleado.dni }}</td>
                    <td class="px-4 py-2 border-b">{{ empleado.email }}</td>
                    <td class="px-4 py-2 border-b">{{ empleado.profesion }}</td>
                    <td class="px-4 py-2 border-b">{{ empleado.puesto_laboral }}</td>
                    <td class="px-4 py-2 border-b">{{ "Sí" if empleado.activo else "No" }}</td>
                    <td class="px-4 py-2 border-b">{{ empleado.inserted_at.strftime('%d/%m/%Y') }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="flex justify-between items-center mt-4">
        <span class="text-gray-600">Página {{ pagina }} de {{ total_paginas }}</span>

        <div class="flex space-x-2">
            {% if pagina > 1 %}
            <a href="{{ url_for('equipo.index', pagina=pagina-1, search=search, filter_by=filter_by, order_prop=order_prop, order=order) }}"
                class="bg-gray-300 text-gray-700 px-3 py-1 rounded-md hover:bg-gray-400">Anterior</a>
            {% endif %}

            {% if pagina < total_paginas %} <a
                href="{{ url_for('equipo.index', pagina=pagina+1, search=search, filter_by=filter_by, order_prop=order_prop, order=order) }}"
                class="bg-gray-300 text-gray-700 px-3 py-1 rounded-md hover:bg-gray-400">Siguiente</a>
                {% endif %}
        </div>
    </div>

</div>

{% endblock %}