{% extends "layout.html" %}

{% block title %}Equipo{% endblock %}

{% block content %}
<div class="bg-green-100">
    <h1>Lista de Empleados</h1>

    <!-- Formulario de búsqueda -->
    <form method="GET">
        <input type="text" name="search" placeholder="Buscar..." value="{{ search }}">

        <select name="filter_by">
            <option value="nombre" {% if filter_by=='nombre' %}selected{% endif %}>Nombre</option>
            <option value="apellido" {% if filter_by=='apellido' %}selected{% endif %}>Apellido</option>
            <option value="dni" {% if filter_by=='dni' %}selected{% endif %}>DNI</option>
            <option value="email" {% if filter_by=='email' %}selected{% endif %}>Email</option>
            <option value="profesion" {% if filter_by=='profesion' %}selected{% endif %}>Profesión</option>
        </select>


        <label for="order" class="block text-sm font-medium text-gray-700">Ordenar por:</label>
        <select id="order_prop" name="order_prop">
            <option value="nombre" {% if order_prop=='nombre' %}selected{% endif %}>Nombre</option>
            <option value="apellido" {% if order_prop=='apellido' %}selected{% endif %}>Apellido</option>
            <option value="inserted_at" {% if order_prop=='inserted_at' %}selected{% endif %}>Fecha de Creación
            </option>
        </select>
        <select name="order">
            <option value="asc" {% if order=='asc' %}selected{% endif %}>Ascendente</option>
            <option value="desc" {% if order=='desc' %}selected{% endif %}>Descendente</option>
        </select>

        <!-- Dropdown de Ordenar por -->
        
        

        <button type="submit">Buscar</button>
    </form>

    <!-- Tabla de resultados -->
    <table class="table-auto w-full">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Email</th>
                <th>Profesión</th>
                <th>Puesto Laboral</th>
                <th>Activo</th>
                <th>Usuario Asociado</th>
                <th>Fecha creacion</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
            <tr>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.apellido }}</td>
                <td>{{ empleado.dni }}</td>
                <td>{{ empleado.email }}</td>
                <td>{{ empleado.profesion }}</td>
                <td>{{ empleado.puesto_laboral }}</td>
                <td>{{ "Sí" if empleado.activo else "No" }}</td>
                <td>{{ empleado.user_id if empleado.user_id else "N/A" }}</td>
                <td>{{ empleado.inserted_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}