{% extends "layout.html" %}

{% block title %}Editar Pago{% endblock %}

{% block content %}

<body class="bg-gray-100">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flex justify-center mt-4">
        <div class="w-full max-w-2xl">
            {% for category, message in messages %}
            <div
                class="{% if category == 'success' %}bg-green-500{% else %}bg-red-500{% endif %} bg-opacity-75 text-white text-center py-4 px-6 mb-4 rounded-lg shadow-lg">
                <p class="text-lg font-semibold">{{ message }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endwith %}

    <div class="max-w-4xl mx-auto mt-10">
        <h1 class="text-3xl font-bold text-center mb-6">Editar Pago</h1>
        <form class="bg-white p-6 rounded-lg shadow-lg" action="{{ url_for('pagos.editar_pago', id=pago.id) }}"
            method="POST" enctype="multipart/form-data">

            <!-- Tipo de Pago -->
            <div class="mb-4">
                <label for="tipo_pago" class="block text-sm font-medium text-gray-700">Tipo de Pago</label>
                <select id="tipo_pago" name="tipo_pago"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option value="honorarios" {% if pago.tipo_pago=='Honorarios' %}selected{% endif %}>Honorarios
                    </option>
                    <option value="gastos" {% if pago.tipo_pago=='Gastos' %}selected{% endif %}>Gastos</option>
                    <option value="servicios" {% if pago.tipo_pago=='Servicios' %}selected{% endif %}>Servicios</option>
                </select>
            </div>

            <div id="beneficiario_container" class="mb-4 hidden">
                <label for="beneficiario" class="block text-sm font-medium text-gray-700">Beneficiario</label>
                <select
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    id="beneficiario" name="beneficiario" required>
                    {% for empleado in empleados %}
                    <option value="{{ empleado.id }}" {% if empleado.id==beneficiario_id %}selected{% endif %}>
                        {{ empleado.nombre }} - {{ empleado.puesto_laboral }}
                    </option>
                    {% endfor %}
                </select>
            </div>


            <!-- Monto -->
            <div class="mb-4">
                <label for="monto" class="block text-sm font-medium text-gray-700">Monto</label>
                <input type="number" id="monto" name="monto"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    value="{{ pago.monto }}" min="0" title="Ingrese un monto válido">
            </div>

            <!-- Fecha de Pago -->
            <div class="mb-4">
                <label for="fecha_pago" class="block text-sm font-medium text-gray-700">Fecha de Pago</label>
                <input type="date" id="fecha_pago" name="fecha_pago"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    value="{{ pago.fecha_pago.strftime('%Y-%m-%d') }}">
            </div>

            <!-- Descripción -->
            <div class="mb-4">
                <label for="descripcion" class="block text-sm font-medium text-gray-700">Descripción</label>
                <textarea id="descripcion" name="descripcion"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">{{ pago.descripcion }}</textarea>
            </div>

            <div class="flex justify-between mt-6">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Guardar
                    Cambios</button>
                <a href="{{ url_for('pagos.detalle_pago', id=pago.id) }}"
                    class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-400">Cancelar</a>
            </div>
        </form>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tipoPagoSelect = document.getElementById('tipo_pago');
        const beneficiarioContainer = document.getElementById('beneficiario_container');

        // Función para mostrar u ocultar el contenedor de Beneficiario
        function toggleBeneficiarioContainer() {
            beneficiarioContainer.classList.toggle('hidden', tipoPagoSelect.value !== 'honorarios');
        }

        // Ejecutar al cargar la página
        toggleBeneficiarioContainer();

        // Escuchar el cambio en el select y ejecutar la función
        tipoPagoSelect.addEventListener('change', toggleBeneficiarioContainer);
    });

</script>
{% endblock %}