{% extends 'layout.html' %}

{% block title %}Registro de Pagos{% endblock %}

{% block content %}
<div class="bg-white p-6 rounded-lg shadow-md">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flex justify-center mt-4">
        <div class="w-full max-w-2xl">
            {% for category, message in messages %}
            <div
                class="{% if category == 'success' %}bg-green-500{% else %}bg-red-500{% endif %} bg-opacity-75 text-white text-center py-4 px-6 mb-4 rounded-lg shadow-lg">
                <p class="text-lg font-semibold">{{ message }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endwith %}
    <h1 class="text-3xl font-bold mb-6 text-gray-700 text-center">Registro de Pagos</h1>

    <!-- Contenedor para el botón y filtros -->
    <div class="mb-6 grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Botón de registro -->
        <div class="flex justify-start">
            <a href="{{ url_for('pagos.registrar_pago') }}"
                class="bg-blue-500 text-white font-semibold px-4 py-2 rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 transition-all duration-200 ease-in-out transform hover:scale-105">
                Registrar Nuevo Pago
            </a>
        </div>

        <!-- Formulario de búsqueda y filtros -->
        <form method="GET" action="{{ url_for('pagos.index') }}" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2 w-full" onsubmit="return validarFechas()">
            <input type="date" name="fecha_inicio"
                class="border border-gray-300 rounded px-3 py-2 w-full focus:ring focus:ring-blue-200"
                placeholder="Fecha Inicio" value="{{ request.args.get('fecha_inicio') }}" id="fecha_inicio">
            <input type="date" name="fecha_fin"
                class="border border-gray-300 rounded px-3 py-2 w-full focus:ring focus:ring-blue-200"
                placeholder="Fecha Fin" value="{{ request.args.get('fecha_fin') }}" id="fecha_fin">
            <select name="tipo_pago"
                class="border border-gray-300 rounded px-3 py-2 w-full focus:ring focus:ring-blue-200">
                <option value="">Seleccione...</option>
                <option value="honorarios" {% if request.args.get('tipo_pago')=='honorarios' %}selected{% endif %}>
                    Honorarios</option>
                <option value="proveedor" {% if request.args.get('tipo_pago')=='proveedor' %}selected{% endif %}>
                    Proveedor</option>
                <option value="gastos_varios" {% if request.args.get('tipo_pago')=='gastos_varios' %}selected{% endif
                    %}>Gastos Varios</option>
            </select>
            <button type="submit"
                class="bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600 w-full transition-colors duration-200">Buscar</button>
        </form>
    </div>

    <!-- Tabla de resultados -->
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white shadow-md rounded-lg text-center">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-4 py-2 border-b text-left text-gray-600 font-medium text-center">Beneficiario</th>
                    <th class="px-4 py-2 border-b text-left text-gray-600 font-medium text-center">Monto</th>
                    <th class="px-4 py-2 border-b text-left text-gray-600 font-medium text-center">
                        <a href="{{ url_for('pagos.index', fecha_inicio=request.args.get('fecha_inicio'), fecha_fin=request.args.get('fecha_fin'), tipo_pago=request.args.get('tipo_pago'), orden='asc') }}"
                            class="text-gray-600 hover:underline">Fecha de Pago &#8593;</a>
                        |
                        <a href="{{ url_for('pagos.index', fecha_inicio=request.args.get('fecha_inicio'), fecha_fin=request.args.get('fecha_fin'), tipo_pago=request.args.get('tipo_pago'), orden='desc') }}"
                            class="text-gray-600 hover:underline">Fecha de Pago &#8595;</a>
                    </th>
                    <th class="px-4 py-2 border-b text-left text-gray-600 font-medium text-center">Tipo de Pago</th>
                    <th class="px-4 py-2 border-b text-left text-gray-600 font-medium text-center">Descripción</th>
                    <th class="px-4 py-2 border-b text-left text-gray-600 font-medium text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pago in pagos %}
                <tr class="hover:bg-gray-50">
                    <td class="px-4 py-2 border-b">{{ pago.beneficiario }}</td>
                    <td class="px-4 py-2 border-b">{{ pago.monto }}</td>
                    <td class="px-4 py-2 border-b">{{ pago.fecha_pago.strftime('%Y-%m-%d') }}</td>
                    <td class="px-4 py-2 border-b">{{ pago.tipo_pago }}</td>
                    <td class="px-4 py-2 border-b">{{ pago.descripcion }}</td>
                    <td class="px-4 py-2 border-b">
                        <a href="{{ url_for('pagos.detalle_pago', id=pago.id) }}"
                            class="text-blue-500 hover:underline">Ver Detalle</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
function validarFechas() {
    const fechaInicio = document.getElementById("fecha_inicio").value;
    const fechaFin = document.getElementById("fecha_fin").value;

    if (fechaInicio && fechaFin && new Date(fechaInicio) > new Date(fechaFin)) {
        alert('La fecha de inicio no puede ser mayor que la fecha de fin.');
        return false;
    }
    return true;
}
</script>
{% endblock %}
