{% extends "layout.html" %}

{% block title %}Encuestre_detalle{% endblock %}

{% block content %}
<body class="bg-gray-100"></body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flex justify-center mt-4">
            <div class="w-full max-w-2xl">
                {% for category, message in messages %}
                    <div class="bg-red-500 bg-opacity-75 text-white text-center py-4 px-6 mb-4 rounded-lg shadow-lg">
                        <p class="text-lg font-semibold">{{ message }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% endwith %}
    <div class="max-w-4xl mx-auto mt-10">
        <h1 class="text-3xl font-bold text-center mb-6">Detalle de Caballo</h1>
        
        <div class="flex justify-center mb-6">
            <button id="infoBtn" class="tab-button bg-blue-500 text-white px-4 py-2 rounded-l-md focus:outline-none">Información General</button>
            <button id="docsBtn" class="tab-button bg-gray-200 text-gray-700 px-4 py-2 rounded-r-md focus:outline-none">Documentos</button>
        </div>

        <div class="relative">
            <div id="infoSection" class="bg-white p-6 rounded-lg shadow-lg">
                <h2 class="text-2xl font-semibold mb-4">Información General</h2>
                <p><strong>Nombre:</strong> {{ encuestre.nombre }}</p>
                <p><strong>Fecha de Nacimiento:</strong> {{ encuestre.fecha_nacimiento.strftime('%d/%m/%Y') }}</p>
                <p><strong>Sexo:</strong> {{ encuestre.sexo }}</p>
                <p><strong>Raza:</strong> {{ encuestre.raza }}</p>
                <p><strong>Pelaje:</strong> {{ encuestre.pelaje }}</p>
                <p><strong>Compra/Donación:</strong> {{ encuestre.compra_donacion }}</p>
                <p><strong>Fecha de Ingreso:</strong> {{ encuestre.fecha_ingreso.strftime('%d/%m/%Y') }}</p>
                <p><strong>Sede Asignada:</strong> {{ encuestre.sede_asignada }}</p>
                <p><strong>Entrenadores y Conductores:</strong>
                    {% for empleado in encuestre.entrenadores_conductores %}
                        {{ empleado.nombre }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p><strong>Tipo de J&A Asignados:</strong> {{ encuestre.tipo_ja_asignado }}</p>
                <div class="flex justify-end mt-6 space-x-4">
                    <a href="{{ url_for('encuestre.editar_encuestre', id=encuestre.id) }}" 
                       class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">
                       Editar
                    </a>
                    <form action="{{ url_for('encuestre.eliminar_encuestre', id=encuestre.id) }}" method="POST">
                        
                        <button type="submit" 
                                class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600" 
                                onclick="return confirm('¿Estás seguro de que deseas eliminar este encuestre? Esta acción no se puede deshacer.');">
                            Eliminar
                        </button>
                    </form>
                </div>
            </div>
        </div>
        

<div id="docsSection" class="p-6 bg-white rounded-lg shadow-md">
    <form method="GET" class="mb-4">
        <div class="flex items-center space-x-4 mb-4">
            <input type="text" name="search" id="documentSearch" value="{{ search }}" placeholder="Buscar por título..." class="px-4 py-2 border rounded-md flex-grow max-w-xs">
            
            <select name="tipo" id="documentType" class="px-4 py-2 border rounded-md">
                <option value="" {% if tipo == '' %}selected{% endif %}>Seleccionar tipo</option>
                <option value="ficha_general" {% if tipo == 'ficha_general' %}selected{% endif %}>Ficha General</option>
                <option value="planificacion_entrenamiento" {% if tipo == 'planificacion_entrenamiento' %}selected{% endif %}>Planificación de entrenamiento</option>
                <option value="informe_evaluacion" {% if tipo == 'informe_evaluacion' %}selected{% endif %}>Informe de evaluación</option>
                <option value="carga_imagen" {% if tipo == 'carga_imagen' %}selected{% endif %}>Carga imagen</option>
                <option value="registro_veterinario" {% if tipo == 'registro_veterinario' %}selected{% endif %}>Registro veterinario</option>
            </select>
        </div>

        <div class="flex items-center space-x-4">
            <select name="order_prop" id="orderField" class="px-4 py-2 border rounded-md">
                <option value="titulo" {% if order_prop == 'titulo' %}selected{% endif %}>Título</option>
                <option value="inserted_at" {% if order_prop == 'inserted_at' %}selected{% endif %}>Fecha de subida</option>
            </select>

            <select name="order" id="orderDirection" class="px-4 py-2 border rounded-md">
                <option value="asc" {% if order == 'asc' %}selected{% endif %}>Ascendente</option>
                <option value="desc" {% if order == 'desc' %}selected{% endif %}>Descendente</option>
            </select>

            <button type="submit" id="filterButton" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Filtrar</button>
        </div>
    </form>
    <table class="min-w-full table-auto border-collapse">
        <thead>
            <tr class="border-b">
                <th class="px-4 py-2 text-left">Nombre</th>
                <th class="px-4 py-2 text-left">Tipo</th>
                <th class="px-4 py-2 text-left">Fecha</th>
                <th class="px-4 py-2 text-left">Acciones</th>
            </tr>
        </thead>
        <tbody id="documentTable">
            {% for documento in documentos %}
            <tr class="border-b">
                <td class="px-4 py-2 break-all overflow-hidden text-ellipsis">{{ documento.titulo }}</td>
                <td class="px-4 py-2">{{ documento.tipo }}</td>
                <td class="px-4 py-2">{{ documento.inserted_at.strftime('%d/%m/%Y') }}</td>
                <td class="px-4 py-2">
                    <select class="actions-select" data-document-id="{{ documento.id }}">
                        <option value="">Seleccione una acción</option>
                        {% if check_permission(session, "encuestre_show") %}
                        <option value="descargar" data-url="{{ url_for('encuestre.descargar_documento', document_id=documento.id) }}">
                        {% if documento.is_document %}
                            Descargar
                        {% else %}
                            Ir al enlace
                        {% endif %}
                        </option>
                        {% endif %}
                        {% if check_permission(session, "encuestre_update") %}
                        <option value="editar" data-url="{{ url_for('encuestre.editar_documento', document_id=documento.id, encuestre_id=encuestre.id) }}">Editar</option>
                        {% endif %}
                        {% if check_permission(session, "encuestre_destroy") %}
                        <option value="eliminar" data-url="{{ url_for('encuestre.eliminar_documento', document_id=documento.id) }}">Eliminar</option>
                        {% endif %}
                    </select>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3" class="text-center px-4 py-2">No hay documentos disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="flex justify-between items-center mt-4">
        <span class="text-gray-600">Página {{ pagina }} de {{ total_paginas }}</span>

        <div class="flex space-x-2">
            {% if pagina > 1 %}
                <a href="{{ url_for('encuestre.detalle_encuestre',id=encuestre.id, pagina=pagina-1, search=search, filter_by=filter_by, order_prop=order_prop, order=order) }}" class="bg-gray-300 text-gray-700 px-3 py-1 rounded-md hover:bg-gray-400">Anterior</a>
            {% endif %}
            
            {% if pagina < total_paginas %}
                <a href="{{ url_for('encuestre.detalle_encuestre',id=encuestre.id, pagina=pagina+1, search=search, filter_by=filter_by, order_prop=order_prop, order=order) }}" class="bg-gray-300 text-gray-700 px-3 py-1 rounded-md hover:bg-gray-400">Siguiente</a>
            {% endif %}
        </div>
    </div>

<div class="flex flex-col space-y-4 mt-4">

    <form method="POST" action="{{ url_for('encuestre.subir_enlace') }}" class="flex flex-col space-y-2">
        <input type="hidden" name="encuestre_id" value="{{ encuestre.id }}">
        <input type="url" name="enlace" placeholder="https://example.com" required class="px-4 py-2 border rounded-md">
        <select class="actions-select" name="tipo_documento" id="tipo_documento" required>
            <option value="ficha_general">Ficha General</option>
            <option value="planificacion_entrenamiento">Planificacion de entrenamiento</option>
            <option value="informe_evaluacion">Informe de evaluacion</option>
            <option value="carga_imagen" >Carga imagen</option>
            <option value="registro_veterinario">Registro veterinario</option>
        </select>
        <button type="submit" class="bg-green-100 text-green-700 px-4 py-2 rounded-md hover:bg-green-200 flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
            Agregar Enlace
        </button>
    </form>

    <form method="POST" enctype="multipart/form-data" action="{{ url_for('encuestre.subir_documento') }}" class="flex flex-col space-y-2">
        <input type="hidden" name="encuestre_id" value="{{ encuestre.id }}">
        <input type="file" name="file" accept=".pdf,.doc,.docx,.jpg,.png" required>
        <select class="actions-select" name="tipo_documento" id="tipo_documento" required>
            <option value="ficha_general">Ficha General</option>
            <option value="planificacion_entrenamiento">Planificacion de entrenamiento</option>
            <option value="informe_evaluacion">Informe de evaluacion</option>
            <option value="carga_imagen" >Carga imagen</option>
            <option value="registro_veterinario">Registro veterinario</option>
        </select>
        <button type="submit" class="bg-blue-100 text-blue-700 px-4 py-2 rounded-md hover:bg-blue-200 flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
            Subir
        </button>
    </form>
</div>


</div>
       
</div>

    <script src="{{ url_for('static', filename='funcionalidad/script_informacion_general.js') }}"></script>

    <script>
        $(document).ready(function() {
        $('.actions-select').on('change', function() {
        var action = $(this).val();
        var documentId = $(this).data('document-id');
        var url = $(this).find('option:selected').data('url');

        if (action === 'eliminar') {
            var confirmacion = confirm("¿Estás seguro de que deseas eliminar este documento?");
            
            if (confirmacion) {
               
                $.ajax({ 
                    url: url, 
                    type: 'POST', 
                    success: function(response) {
                        
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        alert('Ocurrió un error al eliminar el documento.');
                    }
                });
            } else {
                $(this).val('');
            }
        }

        else if(action =="descargar"){
            window.location.href = url;
        }

        else if(action =="editar"){
            window.location.href = url;
        }
    });
});

    </script>
{% endblock %}
