{% extends "layout.html" %}

{% block title %}Editar publicación{% endblock %}

{% block content %}

<body class="bg-gray-100">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flex justify-center mt-4">
        <div class="w-full max-w-2xl">
            {% for category, message in messages %}
            <div
                class="{% if category == 'success' %}bg-green-500{% else %}bg-red-500{% endif %} bg-opacity-75 text-white text-center py-4 px-6 mb-4 rounded-lg shadow-lg">
                <p class="text-lg font-semibold">{{ message }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endwith %}

    <div class="max-w-4xl mx-auto mt-10">
        <h1 class="text-3xl font-bold text-center mb-6">Editar publicación</h1>
        <form id="main-form" class="bg-white p-6 rounded-lg shadow-lg"
            action="{{ url_for('publicaciones.editar_publicacion', id=publicacion.id) }}" method="POST">

            <!-- Titulo (Editable) -->
            <div class="mb-4">
                <label for="titulo" class="block text-sm font-medium text-gray-700">Título</label>
                <textarea id="titulo" name="titulo" 
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">{{ publicacion.titulo }}</textarea>
            </div>

            <!-- Autor -->
            <div class="mb-4">
                <label for="autor" class="block text-sm font-medium text-gray-700">Autor</label>
                <select
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    id="autor" name="autor" required>
                    
                    {% for autor in autores %}
                    <option value="{{ autor.id }}" {% if publicacion.autor== autor.alias %}selected{% endif %}>{{ autor.alias }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Estado (Editable) -->
            <div class="mb-4">
                <label for="estado" class="block text-sm font-medium text-gray-700">Estado</label>
                <select id="estado" name="estado"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option value="borrador" {% if publicacion.estado=='borrador' %}selected{% endif %}>Borrador
                    </option>
                    <option value="publicado" {% if publicacion.estado=='publicado' %}selected{% endif %}>Publicado</option>
                    <option value="archivado" {% if publicacion.estado=='archivado' %}selected{% endif %}>Archivado</option>
                </select>
            </div>

            <!-- Fecha de publicacion -->
            <div class="mb-4">
                <label for="fecha_publicacion" class="block text-sm font-medium text-gray-700">Fecha de publicación</label>
                <input type="date"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    id="fecha_publicacion" name="fecha_publicacion" value="{{ publicacion.fecha_publicacion }}" max="{{ fecha_hoy }}">
            </div>

            <!-- Copete -->
            <div class="mb-4">
                <label for="copete" class="block text-sm font-medium text-gray-700">Copete</label>
                <input type="text"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    id="copete" name="copete" value="{{ publicacion.copete }}" placeholder="Ingrese un breve resumen de la publicación" required>
            </div>

            <!-- Contenido -->
            <div class="mb-4">
                <label for="contenido" class="block text-sm font-medium text-gray-700">Contenido</label>
                <textarea
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    id="contenido" name="contenido" placeholder="Ingrese el contenido de la publicación" rows="12" required>{{ publicacion.contenido }}</textarea>
            </div>
        </form>

        <div class="flex justify-between mt-6">
            <div>
                <button type="submit" form="main-form" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Guardar
                    Cambios</button>
                <a href="{{ url_for('publicaciones.index') }}"
                    class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-400">Cancelar</a>
            </div>
            {% if check_permission(session, "administracion_destroy") %}
            <form action="{{ url_for('publicaciones.eliminar_publicacion', id=publicacion.id) }}" method="POST" class="mt-4">
                <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600"
                    onclick="return confirm('¿Estás seguro de que deseas eliminar esta publicación? Esta acción no se puede deshacer.');">
                    Eliminar
                </button>
            </form>
            {% endif %}
        </div>
        
    </div>
</body>
{% endblock %}